<div>

    {{!-- main header --}}
<h1>Landing page</h1>

{{!-- sub header --}}
<h3>About us:</h3>

{{!-- organization info --}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sint magnam optio, atque asperiores eligendi ex quidem necessitatibus mollitia tempora, dolorum provident adipisci ullam a natus unde qui laudantium autem!</p>
<p>Aliquip tempor cillum pariatur esse veniam incididunt dolor culpa occaecat. Elit amet sint non velit dolore nisi ad esse nisi ea voluptate in in tempor. Labore tempor deserunt culpa cillum deserunt in elit nostrud nostrud officia deserunt eu do incididunt. Id consequat laboris esse et nulla non id labore nisi laboris est. Amet veniam culpa voluptate sunt et dolor dolore eiusmod.</p>
<p>Eu fugiat nostrud deserunt cupidatat tempor ex. Ipsum velit est labore sunt elit adipisicing laborum non duis ipsum irure eu. Aute id ex ullamco culpa amet ut velit aute elit veniam nostrud pariatur est. Ut sit irure labore ea ipsum ipsum. Voluptate voluptate reprehenderit amet sunt. Est proident est commodo occaecat consectetur. Nostrud dolore qui do tempor laboris veniam.</p>
</div>

{{!-- grid with projects/ articles --}}
<div class="row">
    {{!-- left top --}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Project Name</h3>
        <p>Laboris ad sit sint ut aute duis consectetur consequat fugiat est. Amet nulla occaecat id ipsum excepteur ipsum eiusmod pariatur laborum dolore eiusmod in velit minim.</p>
        <p><a href="#">More Info</a> </p>
      </div>
    </div>
  </div>
  {{!-- right top --}}
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Project Name</h3>
        <p>Laboris ad sit sint ut aute duis consectetur consequat fugiat est. Amet nulla occaecat id ipsum excepteur ipsum eiusmod pariatur laborum dolore eiusmod in velit minim.</p>
        <p><a href="#">More Info</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
    {{!-- left bottom --}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Project Name</h3>
        <p>Laboris ad sit sint ut aute duis consectetur consequat fugiat est. Amet nulla occaecat id ipsum excepteur ipsum eiusmod pariatur laborum dolore eiusmod in velit minim.</p>
        <p><a href="#">More Info</a> </p>
      </div>
    </div>
  </div>
  {{!-- right bottom --}}
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Project Name</h3>
        <p>Laboris ad sit sint ut aute duis consectetur consequat fugiat est. Amet nulla occaecat id ipsum excepteur ipsum eiusmod pariatur laborum dolore eiusmod in velit minim.</p>
        <p><a href="#">More Info</a> </p>
      </div>
    </div>
  </div>
</div>
