<div class="thumbnail" style="margin-bottom: 0;">

    {{!-- main header --}}
<h1>Gemeinnützige Organisation</h1>

{{!-- sub header --}}
<h2>Über Uns:</h2>

{{!-- organization info --}}
<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sint magnam optio, atque asperiores eligendi ex quidem necessitatibus mollitia tempora, dolorum provident adipisci ullam a natus unde qui laudantium autem!</h4>
<p>Aliquip tempor cillum pariatur esse veniam incididunt dolor culpa occaecat. Elit amet sint non velit dolore nisi ad esse nisi ea voluptate in in tempor. Labore tempor deserunt culpa cillum deserunt in elit nostrud nostrud officia deserunt eu do incididunt. Id consequat laboris esse et nulla non id labore nisi laboris est. Amet veniam culpa voluptate sunt et dolor dolore eiusmod.</p>
<p>Eu fugiat nostrud deserunt cupidatat tempor ex. Ipsum velit est labore sunt elit adipisicing laborum non duis ipsum irure eu. Aute id ex ullamco culpa amet ut velit aute elit veniam nostrud pariatur est. Ut sit irure labore ea ipsum ipsum. Voluptate voluptate reprehenderit amet sunt. Est proident est commodo occaecat consectetur. Nostrud dolore qui do tempor laboris veniam.</p>

{{!-- grid with projects/ articles --}}
  {{#each result}}
<div class="grid" style="--bs-columns: 3;">
    {{!-- left top --}}
  <div>
    <div class="thumbnail">
      {{this.image}}
      <div class="caption">
        <h3>{{this.project_name}}</h3>
        <p>abcd</p>
        <p><a href="/eigentliche/{{this._id}}">More Info</a> </p>
      </div>
    </div>
  </div>
</div>
{{/each}}

</div>
