{{!-- main div --}}
<div class="project-div thumbnail" style="margin: 0;">
  {{!-- number of supporters --}}
    <a class="navbar-brand" href="#">Supporters</a>
    <br>
    <br>
    {{!-- title --}}
    <h1>{{projekt.project_name}} <h1/>

    {{!-- text --}}
    <p>{{projekt.description}}</p>

{{!-- buttons --}}
<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="#"><span aria-hidden="true"></span> Share</a></li>
    <li class="next"><a href="#">Donate <span aria-hidden="true"></span></a></li>
  </ul>
</nav>
<br>
<p>

{{!-- formular --}}
<div class="formular-div">
<form action="/eigentliche/:id/formular" method="post">

  {{!-- name and lastname row --}}
  <div class="row">
  <div class="col-lg-6">
  {{!-- name input --}}
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Name</span>
  <input type="text" class="form-control" name="first_name" placeholder="Your name goes here" aria-describedby="basic-addon1">
</div>
</div>
<div class="col-lg-6">
{{!-- lastname input --}}
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Lastname</span>
  <input type="text" class="form-control" name="family_name" placeholder="Your lastname goes here" aria-describedby="basic-addon1">
</div>
</div>
</div>

<br>


{{!-- email & country row --}}
  <div class="row">
  <div class="col-lg-6">
  {{!-- email input --}}
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">E-mail</span>
  <input type="email" class="form-control" name="e_mail" placeholder="Your E-mail goes here" aria-describedby="basic-addon1">
</div>
</div>
<div class="col-lg-6">
{{!-- country input --}}
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Country</span>
  <input type="text" class="form-control" name="country" placeholder="Your current country goes here" aria-describedby="basic-addon1">
</div>
</div>
</div>

<br>


{{!-- street & zip code row --}}
  <div class="row">
  <div class="col-lg-6">
  {{!-- street --}}
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Street & Number</span>
  <input type="text" class="form-control" name="street" placeholder="Your street and number" aria-describedby="basic-addon1">
</div>
</div>
<div class="col-lg-6">
{{!-- zipcode --}}
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Postal Code</span>
  <input type="number" class="form-control" name="zip_code" placeholder="Post code" aria-describedby="basic-addon1">
</div>
</div>
</div>

<br>


{{!-- city and donation ammount --}}
  <div class="row">
  <div class="col-lg-6">
  {{!-- city --}}
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">City</span>
  <input type="text" class="form-control" name="city" placeholder="Your street and number" aria-describedby="basic-addon1">
</div>
</div>
<div class="col-lg-6">
{{!-- ammount --}}
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Ammount</span>
<input class="form-control" type="number"  name="ammount" placeholder="Optional Spende" aria-describedby="basic-addon1" min="0" max="50000" step="5">
</div>
</div>
</div>

<br>

{{!-- comments row --}}
  <div class="row">
  <div class="col-lg-6">
  {{!-- comments --}}
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Comments</span>
<textarea class="form-control" name="comments" placeholder="Share your thoughts" aria-describedby="basic-addon1" type="text" rows="5" cols="24">
</textarea>
</div>
</div>
<div class="col-lg-6">
</div>
</div>

<br>


{{!-- privacy --}}
  <div class="row">
  <div class="col-lg-6">
  {{!-- public --}}
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Others can see I donated</label>
</div>
</div>
</div>

<br>
  <div class="row">
  <div class="col-lg-6">

{{!-- newsletters --}}
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">I allow newsletters into my e-mail address</label>
</div>
</div>


<br>
<br>
  <ul class="pager">
    <li >
      <a href="#">
        <span aria-hidden="true">

        </span>
<button type="submit">Registriert</button>
        </a></li>
  </ul>
</form>
</div>
</div>

