{{!-- main div --}}
<div class="project-div">
  {{!-- number of supporters --}}
    <a class="navbar-brand" href="#">Supporters</a>
    <br>
    <br>
    {{!-- title --}}
    <h1>Example page header <h1/>

    {{!-- text --}}
    <p>Sit minim reprehenderit cillum consectetur magna consequat veniam officia sint amet occaecat. Sunt et est ad reprehenderit elit occaecat ullamco Lorem tempor laborum est. Sit dolore excepteur commodo proident irure id deserunt id nostrud veniam nisi qui. Reprehenderit nostrud minim reprehenderit incididunt enim reprehenderit qui laborum aliquip laborum culpa quis cillum labore. Eiusmod anim laborum non ad nulla. Adipisicing incididunt duis eu cillum adipisicing duis id excepteur in ea ea reprehenderit ad officia. In qui duis ad commodo reprehenderit ea deserunt exercitation incididunt cupidatat nostrud aute. Labore officia ex nisi anim duis aliqua laborum. Sunt ex eu aute nisi amet labore mollit laborum ullamco occaecat laboris nulla velit laboris. </p>
    <p> Reprehenderit veniam eu id consequat deserunt do aliqua elit nisi proident consequat dolore.</p>
    <p>Ex amet sunt ad deserunt veniam consectetur Lorem nostrud voluptate deserunt non id sint. Magna sit occaecat duis anim deserunt velit deserunt sit proident eu laboris. Velit cillum non aute minim velit et ipsum fugiat. Irure sit pariatur do commodo nostrud ad irure proident enim voluptate. Adipisicing tempor irure ad in fugiat reprehenderit eiusmod dolore sunt nostrud. Nostrud ullamco sint ut sit id ipsum reprehenderit ullamco enim est.</p>

{{!-- buttons --}}
<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="#"><span aria-hidden="true"></span> Share</a></li>
    <li class="next"><a href="#">Donate <span aria-hidden="true"></span></a></li>
  </ul>
</nav>
</div>

{{!-- form --}}
<div class="formular-div">
<form action="" method="post">

  {{!-- name and lastname --}}
  <div class="row">
  <div class="col-lg-6">
  {{!-- name input --}}
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Name</span>
  <input type="text" class="form-control" placeholder="Your name goes here" aria-describedby="basic-addon1">
</div>
</div>
<div class="col-lg-6">
{{!-- lastname input --}}
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Lastname</span>
  <input type="text" class="form-control" placeholder="Your lastname goes here" aria-describedby="basic-addon1">
</div>
</div>
</div>


{{!-- email & address --}}
  <div class="row">
  <div class="col-lg-6">
  {{!-- email input --}}
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">E-mail</span>
  <input type="text" class="form-control" placeholder="Your E-mail goes here" aria-describedby="basic-addon1">
</div>
</div>
<div class="col-lg-6">
{{!-- address input --}}
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Address</span>
  <input type="text" class="form-control" placeholder="Your lastname goes here" aria-describedby="basic-addon1">
</div>
</div>
</div>


{{!-- zip code & telephone --}}
  <div class="row">
  <div class="col-lg-6">
  {{!-- email input --}}
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">E-mail</span>
  <input type="text" class="form-control" placeholder="Your E-mail goes here" aria-describedby="basic-addon1">
</div>
</div>
<div class="col-lg-6">
{{!-- address input --}}
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Address</span>
  <input type="text" class="form-control" placeholder="Your lastname goes here" aria-describedby="basic-addon1">
</div>
</div>
</div>



</form>
</div>



